.initial-container{
    margin-top: 15px;
}

img.story-thumbnail{
    max-height: 100px;
    max-width: 100px;
}

img.avatar{
    max-height: 15px;
    max-width: 15px;
    margin-right: 5px;
}

.to-fp{
    font-size: 64px;
}

.ow-fixed-thumbnail{
    height: 120px;
    width: 120px;
    text-align: center;
}

.ow-fixed-thumbnail img{
    margin: auto;
}

#content{
    margin-top: 15px;
}

.comments-line{
    text-align: right;
}

.voters div{
    text-align: center;
}

.upvote, .downvote{
    font-size: 20px;
}

.score-number{
    font-weight: bold;
    color: #aaaaaa;
}

.story{
    height: 120px;
}

.description{
    text-align: justify;
}

#our-wikia-logo-fp{
    max-height: 100px;
}

.logo-wrapper, .header-col{
    display: table-cell;
    height: 100px;
    vertical-align: middle;
}

.logo-wrapper img{
    max-height: 100px;
}

#our-wikia-logo-sw{
    max-height: 100px;
    max-width: 260px;
}

.voters a{
    color: #dddddd;
    outline-width: 2px;
}

.upvote.active{
    color: #ff6600;
}

.downvote.active{
    color: #336699;
}