<div id="user-stuff">
    {% if request.user.is_authenticated %}
    <div><small>Welcome back, {{ request.user}}</small></div>
    <div><button type="button" href="/accounts/logout/">Log Out</button></div>
    {% else %}
    <a class="btn btn-default" href="/accounts/login/">Login</a>
    <a class="btn btn-default" href="/accounts/register/">Sign Up</a>
    <div class="modal fade" id="nagModal" tabindex="-1" role="dialog" aria-labelledby="nagModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Login or Register</h4>
                </div>
                <div class="modal-body">
                    Please login or register to enable voting.
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    {% endif %}

</div>