{% for story in stories %}
    <div class="story">
        <div class="voters">
            <a href="#" data-id="{{ story.id }}" class="upvote">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
            <a href="#" data-id="{{ story.id }}" class="downvote">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </div>
        <div class="headline">
            {% if story.thumbnail %}
                <a href="{{ story.url }}">
                    <img src="{{ story.thumbnail }}" alt=""/>
                </a>
            {% endif %}
            <a href="{{ story.url }}">{{ story.title }} -- {{ story.abstract }}</a>
        </div>
        <div class="metadata">
            {% if story.last_editor %}
            <small>Edited by <img src="{{ story.last_editor.avatar }}" alt="" /><a href="{{ story.last_editor.url }}">{{ story.last_editor.name }}</a></small>
            {% endif %}
            <a href="#">
            <!-- route for comments -->
                {{ story.comments.count }} comments
            </a>
        </div>
    </div>
{% endfor %}